$columns: 12;                   // Number of columns the design is based around

$desktop-large-min-max: 1200px; // The largest you want the large desktop size
                                // to kick in at, scaling up
$desktop-small-min-max: 980px;  // The largest you want the small desktop size
                                // to end at, scaling down
$tablet-min-max: 768px;         // The largest you want the tablet size to end
                                // at, scaling down

$column-factor: 5;              // The number you want all column widths to be
                                // divisible by

// The three lines below figure out what column width fits the right number of
// columns, based on the variables above

$desktop-large-column-x: floor($desktop-large-min-max / $columns) - (floor($desktop-large-min-max / $columns) % $column-factor);
$desktop-small-column-x: floor($desktop-small-min-max / $columns) - (floor($desktop-small-min-max / $columns) % $column-factor);
$tablet-column-x: floor($tablet-min-max / $columns) - (floor($tablet-min-max / $columns) % $column-factor);

$desktop-large-min: ($desktop-large-column-x * $columns);
	$desktop-small-max: ($desktop-large-min - 1px);

$desktop-small-min: ($desktop-small-column-x * $columns);
	$tablet-max: ($desktop-small-min - 1px);

$tablet-min: ($tablet-column-x * $columns);
	$mobile-large-max: ($tablet-min - 1px);

$mobile-max: ($tablet-min - 1px);



// I use shorthand suffixes for some/most variable names in this file.
//
// n  = top (north)
// s  = bottom (south)
// w  = left (west)
// e  = right (east)
//
// x  = x-axis, horizontal, width, both 'w' and 'e'
// y  = y-axis, vertical, height, both 'n' and 's'
//
// m  = margin
// p  = padding
// fs = font-size
// lh = line-height
// d  = delta (difference)
//
// The suffixes can be combined. Examples:
// $nav-px = Nav padding-left and padding-right
// $footer-my = Footer margin-top and margin-bottom
// $sidebar-pn = Sidebar padding-top
// $header-y = Total header height (usually including padding and border, as implied by the
//   border-box model this theme uses everywhere by default, but also sometimes in the
//   content-box model)

